<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>chat</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style>
        input {
            display: block;
        }

        ul {
            list-style: none;
        }

        ul#messages {
            list-style: none;
        }

        ul#messages li {
            margin-bottom: 2px;
        }

        ul#messages li img {
            margin-right: 10px;
        }

        .root-div {
            width: 500px;
            height: 700px;
        }

        .container {
         width: 500px;
        }
    </style>
</head>
<body>
<div class="root-div">
    <div class="container">
        <div class="panel panel-default">
            <div class="panel-body">
                <ul id="messages"></ul>
            </div>
        </div>
    </div>
    <form id="chatbox" role="form">
        <div class="form-group">
            <label for="message">Send a messages as {{.UserData.name}}</label>
            or <a href="/logout">sign out</a>
            <textarea id="message" class="form-control"></textarea>
        </div>
        <input type="submit" value="send" class="btn btn-default"/>
    </form>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
</script>
<script>
    Date.prototype.format = function (fmt) {
        var o = {
            "M+": this.getMonth() + 1,                 //月份
            "d+": this.getDate(),                    //日
            "h+": this.getHours(),                   //小时
            "m+": this.getMinutes(),                 //分
            "s+": this.getSeconds(),                 //秒
            "q+": Math.floor((this.getMonth() + 3) / 3), //季度
            "S": this.getMilliseconds()             //毫秒
        };
        if (/(y+)/.test(fmt)) {
            fmt = fmt.replace(RegExp.$1, (this.getFullYear() + "").substr(4 - RegExp.$1.length));
        }
        for (var k in o) {
            if (new RegExp("(" + k + ")").test(fmt)) {
                fmt = fmt.replace(RegExp.$1, (RegExp.$1.length == 1) ? (o[k]) : (("00" + o[k]).substr(("" + o[k]).length)));
            }
        }
        return fmt;
    }
    $(function () {
        var socket = null;
        var msgBox = $("#chatbox textarea");
        var messages = $("#messages");
        $("#chatbox").submit(function () {
            if (!msgBox.val()) return false;
            if (!socket) {
                alert("Error: There is no socket connection.");
                return false;
            }
            socket.send(JSON.stringify({"Message": msgBox.val()}));
            msgBox.val("");
            return false;
        });
        if (!window["WebSocket"]) {
            alert("Error: Your browser does not support web sockets.")
        } else {
            socket = new WebSocket("ws://{{.Host}}/room");
            socket.onclose = function () {
                alert("Connection has been closed.");
            };
            socket.onmessage = function (e) {
                var msg = JSON.parse(e.data);
                messages.append($("<li>").append(
                    $("<img>").attr("title", msg.Name).css({
                        width: 50, verticalAlign: "middle"
                    }).attr("src", msg.AvatarUrl),
                    $("<span>").text(msg.Message)
                ))
            }
        }
    });
</script>
</body>
</html>